@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
	color: ghostwhite;
	background-color: #09090b;
	background-image: url("/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Noto Sans", sans-serif;
}

@media (max-width: 768px) {
	body {
		background-image: url("/background2.jpg");
		background-size: cover;
		background-position: center;
	}
}

.jp {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.ko {
	font-family: "Noto Sans KR", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.arc-player {
	color: #2d50c2;
}

.arc-quantity {
	color: #f7e24a;
}

.arc-item {
	color: #34c759;
}

.Uncommon {
	color: rgb(156, 163, 175);
	--tw-shadow-color: rgb(156, 163, 175);
}

.Common {
    color: rgb(74, 222, 128);
    --tw-shadow-color: rgb(74, 222, 128);
}

.Rare {
    color: rgb(96, 165, 250);
    --tw-shadow-color: rgb(96, 165, 250);
}

.Epic {
    color: rgb(244, 114, 182);
    --tw-shadow-color: rgb(244, 114, 182);
}

.Legendary {
    color: rgb(251, 146, 60);
    --tw-shadow-color: rgb(251, 146, 60);
}
